/* src/app/globals.css */
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* ✅ làm chữ giống template hơn */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}